section {
  color: #001945;
  border-radius: 20px;
}

mat-action-list {
  border-radius: 20px;
  /* background-color: rgb(36, 90, 188, 0.6); */
  background-color: rgb(255, 255, 255, 0.6);
}

.item-title {
  color: #001945;
}

matListItemLine {
  color: #D9E2FF;
  background-color: #001945;
}

mat-divider {
  height: 3px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 12px;
  justify-self: center;
  background-color: hsla(226, 92%, 91%, 30%);
}