<!-- VERSION AVEC MOCK pour test sans backend -->
<!-- <ng-container *ngIf="matches !=null">
  <h2>{{ matches[10].startDate | date:'longDate' }}</h2>
    <mat-list-item *ngFor="let matchItem of matches; last as last">
      <sb-match-item *ngIf="matchItem != null" [matchItem]="matchItem" (click)="onMatcardClicked()"></sb-match-item>
      <mat-divider [inset]="true" *ngIf="!last && matchItem != null" role="separator"></mat-divider>
    </mat-list-item>
</ng-container> -->

<!-- VERSION API pour production/dev test -->
<!-- <h2>{{ matches[0].startDate | date:'longDate' }}</h2> -->
<!-- <mat-list-item *ngFor="let match of (matches$ | async) ; last as last">
  <sb-match-item [match]="match" (click)="onMatcardClicked()"></sb-match-item>
  <mat-divider [inset]="true" *ngIf="!last" role="separator"></mat-divider> 
</mat-list-item> -->

<sb-match-item *ngFor="let matchItem of matches$ | async as matchlist" [matchItem]="matchItem"></sb-match-item>