<div class="wrapper">
  <section [ngClass]="{
    'left-top-5': breakpoint === 5,
    'left-top-6': breakpoint === 6,
    'left-top-8': breakpoint === 8}">
    <h2>Terms and Conditions</h2>
    <p>PLEASE READ THIS AGREEMENT CAREFULLY. IT SETS FORTH THE LEGALLY BINDING TERMS AND CONDITIONS FOR YOUR PARTICIPATION ON 'BET ON SUPERBOWL' WEBSITE</p>
    <p>This website is a fake bet website for learning purposes on website development skills. 
      No money is actually involve and bets/wagers won't be processed.
      No credit card, nor money is required to place bets.</p>
    
    <h2>About Responsible gaming</h2>
    <p>Enjoy legal online gaming in State/Country responsibly and sensibly. For the time being, we do NOT offer any options that can be used to manage your gaming activity at any time.
      It is your own responsability to limit the amount you can deposit or wager, time limits so you have to control how much time you spend gaming, or the option to exclude yourself from gaming for a period of time.</p>
    <p>If you or someone you know has a gambling problem and wants help, call 1-800-GAMBLER (USA)</p>
    <h3>Gambling and money is prohibited for under 18 people.</h3>
    <mat-divider></mat-divider>
    <h2>Conditions générales d'utilisation</h2>
    <p>MERCI DE LIRE CES CONDITIONS ATTENTIVEMENT. ELLES EXPOSENT LES CONDITIONS ET LE CADRE JURIRDIQUE DE VOTRE CONCOURS AU SITE WEB 'BET ON SUPERBOWL' CI-PRESENT</p>
    <p>Ce site n'est pas un vrai site de pari en ligne. Il est destiné à un usage pédagogique d'apprentissage des outils de développement web. 
      Aucun moyen de paiement ni argent n'est mis en jeu via les paris proposés et donc aucune mise ne sera réellement traité.
      Aucune carte de crédit ou autre moyen de paiement n'est requis pour placer des mises (fictives).</p>
    <h3>Les jeux de hasard et d’argent sont interdits aux mineur</h3>
    <h3>Interdiction volontaire de jeux</h3>
    <p>Toute personne peut demander à être interdite de jeux. Cette demande est formée auprès de l'Autorité nationale des jeux. 
      Cette interdiction est applicable dans les casinos, dans les clubs de jeux, sur les sites de jeux et de paris 
      en ligne exploités par les opérateurs de jeux agréés en France, sur le site de jeux de loterie en ligne exploité par 
      La Française des jeux ainsi que sur les bornes de jeux accessibles avec un compte joueur exploitées par les opérateurs 
      titulaires de droits exclusifs, notamment La Française des jeux et le Pari mutuel urbain. 
      Cette interdiction est prononcée pour une durée qui ne peut être inférieure à trois ans. Elle est renouvelable tacitement.</p>    
      <p><a href="https://www.joueurs-info-service.fr/">Joueurs-info-service</a></p>
    </section>

</div>
