mat-card {
  :hover{
    cursor: pointer;
  }
}

mat-card-title-group {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;

}

.title {
  flex: 1 1 auto;
  background-color: lightgreen;
}

section {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
}

.score {
  text-align: center;
  text-justify: center;
}

.a, .b {
  height: 30px;
  min-width: 40%;
  flex: 1 1 auto;
  background-color: antiquewhite;
}

.odds {
  height: 30px;
  min-width: 40%;
  flex: 1 1 auto;
  /* background-color: lightgreen; */
}