<mat-toolbar>
  <mat-toolbar-row>
    <!-- Menu button appears when screensize is < medium -->
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <div *ngIf="sidenav.mode === 'over'; then portrait; else landscape"></div>
  </mat-toolbar-row>

  <!-- Template when screensize is > medium -->
  <ng-template #landscape>
    <button mat-button class="logo" (click)="onViewHome()"><span> {{title}}</span> Icon here</button>
    <button mat-button class="matches" (click)="onViewMatches()">All matches</button>
    <button mat-button class="bets"(click)="onViewBets()">Bets</button>
    <span class="menu-spacer"></span>
    <button mat-button class="signup" (click)="onViewSignup()">
      Sign-up <mat-icon>perm_identity</mat-icon>
    </button>
    <button mat-button class="login" (click)="onViewLogin()">
      Log-in <mat-icon>account_circle</mat-icon>
    </button>
  </ng-template>

    <!-- Template when screensize is < medium -->
  <ng-template #portrait>
    <span class="menu-spacer"></span>
    <button mat-button class="logo" (click)="onViewHome()"><span> {{title}}</span> Icon here</button>
    <span class="menu-spacer"></span>
    <button mat-button class="signup" (click)="onViewSignup()">
      Sign-up
    </button>
    <button mat-icon-button (click)="onViewLogin()">
      <span><mat-icon>account_circle</mat-icon></span>
    </button>
  </ng-template>
