<div class="wrapper">

  <section [ngClass]="{'left-top-5': breakpoint === 5,
                       'left-top-6': breakpoint === 6, 
                       'left-top-7': breakpoint === 7,
                       'left-top-8': breakpoint === 8}">
    
    <!-- Match details -->
    <h2 class="title">Match details</h2>
    <ng-container *ngIf="match">
      <div class="details">
        <mat-card>
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-subtitle>
                <div class="col1">
                  <div class="match-datetime">{{ match.startDate | date: 'shortDate'  }}</div>
                  <div class="match-datetime"><span><mat-icon>timer</mat-icon></span> Start time: {{ match.startDate | date: 'HH:mm' }}</div>
                  <div *ngIf="match.status === 'GAME_OVER'; then gameover else gameNotFinished" class="match-datetime">End time : {{ match.endDate | date: 'HH:mm' }}</div>
                </div>
                <div class="col2">
                  <p>Weather</p>
                  <div class="weather"><span><mat-icon>cloud_queue</mat-icon></span> {{ match.weather | uppercase }}</div> 
                </div>
              </mat-card-subtitle> 
              <mat-card-title>
                <div class="teamname">
                  <p>{{ match.teamA.name | titlecase }}</p>
                  <p>({{ match.teamA.country.name | uppercase }})</p>
                </div>
                <div class="teamname">
                  <p>{{ match.teamB.name | titlecase }}</p>
                  <p>({{ match.teamB.country.name | uppercase }})</p>
                </div>                                 
              </mat-card-title>        
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
              <div class="odds-row">
                <div class="odds-col" [ngStyle]=" match.oddsA > match.oddsB ? { 'background-color': 'lightgreen', 'color': '#006b00' } : { 'background-color': 'lightpink', 'color': '#920031'} ">
                  <div class="label">Odds</div>
                  <div class="odds value">{{ match.oddsA || '-' }}</div>
                </div>
                <div class="odds-col" [ngStyle]=" match.oddsA < match.oddsB ? { 'background-color': 'lightgreen', 'color': '#006b00' } : { 'background-color': 'lightpink', 'color': '#920031'} ">
                  <div class="label">Odds</div>
                  <div class="odds value">{{ match.oddsB || '-' }}</div>
                </div>
              </div>

              <div class="score-row">
                <div class="score-col">
                  <div class="label">Score</div>
                  <div class="score value">{{ match.scoreA || '-' }}</div>
                </div>
                <div class="score-col">
                  <div class="label">Score</div>
                  <div class="score value">{{ match.scoreB || '-'  }}</div>
                </div>
              </div>
          </mat-card-content>
          <mat-card-footer>
            <sb-cta-fab class="fab" *ngIf="!isLogged" text="Join or Log in" routerLink="/login"></sb-cta-fab>
            <sb-cta-fab class="fab" *ngIf="match.notStarted" text="Place a bet now" routerLink="/bets"></sb-cta-fab>
          </mat-card-footer>
        </mat-card>
      </div>
    </ng-container>


    <ng-template #gameNotFinished>
      <div class="match-datetime"><span><mat-icon>timer_off</mat-icon></span> {{ match.status }}</div>
    </ng-template>

    <ng-template #gameover>
      <div class="match-datetime"><span><mat-icon>update</mat-icon></span> End time : {{ match.endDate | date: 'HH:mm' }}</div>
    </ng-template>



    <mat-tab-group color="primary" backgroundColor="primary" animationDuration="0ms" preserveContent>
      <!-- Teams details -->
      <mat-tab label="Team A">
        <div class="container">
          <div class="table-container">
            <!-- TEAM A -->
            <ng-container *ngIf="match && teamAPlayers">
              <table mat-table [dataSource]="teamAPlayers" class="mat-elevation-z8">
                <!-- Team A's number column -->    
                <ng-container matColumnDef="number">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let player">{{player.number}}</td>
                </ng-container>
        
                <!-- Team A's Player fullname column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Players </th>
                  <td mat-cell *matCellDef="let player">{{ player.firstname }} {{ player.lastname }}</td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="teamsColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: teamsColumns;"></tr>
              </table>
            </ng-container>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Team B">
        <div class="container">
          <div class="table-container">
            <!-- TEAM B -->
            <ng-container *ngIf="match && teamBPlayers">
              <table mat-table [dataSource]="teamBPlayers" class="mat-elevation-z8">
                <!-- Team B's number column -->    
                <ng-container matColumnDef="number">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let player">{{player.number}}</td>
                </ng-container>

                <!-- Team B's Player fullname column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Players </th>
                  <td mat-cell *matCellDef="let player">{{ player.firstname }} {{ player.lastname }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="teamsColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: teamsColumns;"></tr>
              </table>
            </ng-container>
          </div>
        </div>
      </mat-tab>

      <!-- Comments details -->
      <mat-tab label="Comments" [disabled]="commentsDisabled">
        <div>
          <sb-comment-list [matchId]="matchId"></sb-comment-list>
        </div>
      </mat-tab>
    </mat-tab-group>

  </section>
  <aside class="right-bottom">
    <!-- place on the right for betslip and/or floating buttons -->
  </aside>
</div>