.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 20px;
}

section {
  color: #05285a;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 10px;
}

/* (for large and xlarge screens / Landscape) */
.left-top-5 {
  grid-row: 1;
  grid-column: 3 / 6; 
}

/* (for medium screens / Landscape) */
.left-top-6 {
  grid-row: 1;
  grid-column: 3 / 6; 
}

/* (for small screen / Portrait) */
.left-top-7 {
  grid-row: 1;
  grid-column: 2 / 7; 
}

/* Full screen (for Xsmall screens / Portrait) */
.left-top-8 {
  grid-row: 1;
  grid-column: 1 / 8; 
}

.title {
  color: #05285a;
  font-size: large;
  text-align: center;
  padding: 10px;
}

.details {
  color: #D9E2FF;
}

mat-card {
  color: #05285a;

}

mat-card-title-group {
  margin-bottom: 10px;
  display: flex;
  flex-flow: column wrap;
}

mat-card-subtitle {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: space-around;
  margin-bottom: 10px;

}

.col1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}

.match-datetime {
  flex: 1 1 auto;
  margin-bottom: 2px;
}

.col2 {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}

mat-card-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.teamname {
  flex: 1 1 100%;
  font-size: medium;
  font-weight: 500;
  text-align: center;
  border: 1px solid #000;
  border-radius: 0px;
  padding: 10px;

  background-color: rgb(255, 111, 0);
  box-shadow: inset 6px 6px 25px rgba(255, 132, 0, 0.5);
  color: #222;
}

p {
  margin: 0px;
}

mat-card-content {
  
}

.odds-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.odds-col {
  flex: 1 1 100%;
  font-size: medium;
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
  margin-inline: 2px;
  padding: 10px;
}

.score-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 20px;
}

.score-col {
  flex: 1 3 50%;
  font-size: medium;
  font-weight: 500;
  text-align: center;
  border: 1px solid #000;
  border-radius: 8px;
  margin-inline: 2px;
  padding: 10px;
}

.label{
    margin-bottom: 5px;
}

.odds.value {
  margin-bottom: 10px;
}

mat-card-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  margin: 10px;
}



.fab {
  position: relative;
  margin-bottom: 10px;
}

mat-tab-group {
  margin-bottom: 20px;
}

table {
  width: 100%;
}

mat-icon { 
  margin-bottom: -6px;
}