
<sb-header [sidenav]="sidenav" [isLogged]="isLogged"></sb-header>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" mode="side" class="sidenav">
        <div *ngFor="let link of links" class="nav-button">
          <button mat-button routerLink="{{link.fragment}}" [fragment]="link.fragment" routerLinkActive="activebutton" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon>{{ link.icon }}</mat-icon>
            <span mat-line>{{ link.title }}</span>
          </button>
        </div>
        <mat-divider></mat-divider>
        <div class="tac-button">
          <button mat-button routerLink="'terms'" [fragment]="'terms'" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
            <mat-icon>info</mat-icon>
            <span>Terms and conditions</span>
          </button>
        </div>
  </mat-sidenav>
  <mat-sidenav-content class="mat-elevation-z4">
      <router-outlet></router-outlet>
    <sb-footer></sb-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Bottom navbar appears when screensize is < medium -->
<mat-toolbar *ngIf="sidenav.mode === 'over'">
  <mat-toolbar-row>
    <div *ngFor="let link of links" class="nav-button">
      <button mat-button routerLink="{{link.fragment}}" [fragment]="link.fragment">
        <span><mat-icon class="bottom-icons">{{ link.icon }}</mat-icon></span>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
