.test {
  background-color: lightgreen;
}

mat-sidenav-container {
  position: relative;
  height: calc(100vh - 60px);
  color: #D9E2FF 2px; /* color-on-primary-10 */
}

mat-sidenav {
  width: 225px;
  border-right: none;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #001945; /* color-primary-10 */
}

mat-sidenav-content {
  height: calc(100vh - 90px);
  margin: 16px;
  padding: 2rem;
  color: #001945;
}

mat-divider {
  height: 3px;
  width: 75%;
  margin-top: 6px;
  margin-bottom: 12px;
  justify-self: center;
  background-color: hsla(226, 92%, 91%, 30%);
}

mat-toolbar {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  
  background-color: #001945; /* color-primary-10 */
}

mat-toolbar-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-icons {
  font-size: 1.625rem;
  :hover {
    background-color: underline #D9E2FF 2px;
  }
}

button {
  border-radius: 4px;
  color: #999;
  font-size: 0.825rem;
  font-weight: bold;
  padding: 6px 12px;
  :hover {
    text-decoration: underline crimson 3px; /* color-primary-90 */
    text-underline-offset: 4px;
    color: #D9E2FF; /* color-primary-90 */
  }
}

.activebutton {
  color: #001945; /* color-on-primary-10 */
  text-decoration: underline #D9E2FF 2px; /* color-primary-90 */
  text-underline-offset: 4px;
}

.nav-button {
  font-size: 0.925rem;
}

.is-mobile {
  flex: 1 0 auto;
}

* {
  color: #D9E2FF; /* color-on-primary-10 */
}