<sb-header [sidenav]="sidenav"></sb-header>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" mode="side" opened class="sidenav">
        <div *ngFor="let link of links" class="nav-button">
          <button mat-button routerLink="{{link.fragment}}" [fragment]="link.fragment">
            <mat-icon>{{ link.icon }}</mat-icon>
            <span mat-line>{{ link.title }}</span>
          </button>
        </div>
        <mat-divider></mat-divider>
        <div>
          <button mat-button routerLink="'tac'" [fragment]="'tac'" class="nav-button">
            <mat-icon>info</mat-icon>
            <span>Terms and conditions</span>
          </button>
        </div>
  </mat-sidenav>
  <mat-sidenav-content class="mat-elevation-z4">
    <div class="content">
      <!-- TODO : To remove //FOR TESTING PURPOSE ONLY// -->
      <p>
        Resize your browser window to see the current screen size change.
      </p>
      <p>
        The current screen size is <strong>{{currentScreenSize}}</strong>
      </p>
      <!-- TODO : To remove //END: FOR TESTING PURPOSE ONLY// -->

      <!-- <p><button mat-button (click)="sidenav.toggle()">Show Sidenav</button></p> -->
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<sb-footer></sb-footer>