<section>
  <h2>Fans of Superbowl, this place is yours</h2>
  <p>Don't miss any match and result about Superbowl Football game.</p>
  <p>Here is the place to monitor all Superbowl's matches and place your bets on your favorite teams.</p>
</section>
<section>
  <h2>Matches of the day</h2>
  <!-- <sb-match-item *ngIf="matchItem$ != null; else noMatchFound" [matchItem]="matchItem$ | async"></sb-match-item> -->
  <sb-match-list *ngIf="allMatches$ != null; else noMatchFound" [matches]="allMatches$ | async"></sb-match-list>
</section>
<ng-template #noMatchFound>
  <p>Sorry. No match found for today</p>
  <p>Come back tomorrow to get more news about Superbowl schedule</p>
</ng-template>