.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 20px;
}

section {
  color: #05285a;
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 8px;
}

aside {
  position: absolute;
  bottom: 80px;
  right: 8px;
  display: flex;
  flex-flow: column-reverse nowrap;
}

.left-top-6 {
  grid-row: 1;
  grid-column: 1 / 6; 
}

.left-top-8 {
  grid-row: 1;
  grid-column: 1 / 8; 
}

.right-bottom {
  grid-row: 1;
  grid-column: 6 / 8; 
}

.list-title {
  color: #001945;
  font-size: large;
  text-align: center;
  padding: 10px;
}

.list-item {
  color: #D9E2FF;
}

.solid {
  border-top: 3px solid #555;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay{
  height:100vh;
  width:100%;
  background-color:rgba(0, 0, 0, 0.8);
  z-index:    20;
  top:        0; 
  left:       0; 
  position:   fixed;
}

/* For CTA FAB buttons */
/* also, need aside css attribute alongside to work with */
.fab-container {
  display: flex;
  flex-direction: column;
  flex: 3 1 auto;
  position: fixed;
  z-index: 12;
}

.fab {
  text-align: center;
  text-justify: center;
  align-items: center;
  font-size: large;
  margin-top: 8px;
}

.bottom {
  display: flex;
  flex-direction: row;
  flex: 3 2 auto;
  justify-content: center;
  align-items: center;
  width: 100vw;
  bottom: 75px;
  right: 2%;
}

.aside {
  display: flex;
  flex-direction: column;
  flex: 3 1 auto;
  width: 25vw;
  bottom: 80px;
  right: 2%;
}

.aside-bottom {
  display: flex;
  flex-direction: column;
  flex: 3 1 auto;
  width: 25vw;
  bottom: 75px;
  right: 2%;
}
