<div class="wrapper">

  <section [ngClass]="{'left-top-6': breakpoint === 6, 'left-top-8': breakpoint === 8}">

    <div class="list-title">All matches</div>
    <ng-container *ngIf="!wait else spinner">
      <div class="list-item" *ngFor="let matchItem of matchList$ | async as matchList" (click)="onClicked(matchItem.id)">
        <sb-match-item [matchItem]="matchItem" [breakpoint]="breakpoint"></sb-match-item>
      </div>
    </ng-container>
    <ng-template #spinner>
      <div class="overlay">
        <mat-spinner color="primary"></mat-spinner>    
      </div>
    </ng-template>
  </section>
  <aside class="right-bottom">
    <!-- place on the right for betslip and/or floating buttons -->
  </aside>
</div>

