<div class="dummy"></div>
<mat-drawer-container>
  <mat-drawer mode="side" [(opened)]="isOpened" position="end">
    <h2>Betslip</h2>
    <ng-container *ngFor="let betItem of betList">
      <ng-container *ngIf="betItem.status == 'BET_OPENED' && !isEmpty">
        <ul class="test">
          <li>id: {{ betItem.id }}</li>
          <li>Team A : {{ betItem.match_id }}</li>
          <li>Team B : {{ betItem.team_id }}</li>
          <li>Odds : {{ betItem.final_odds }}</li>
          <li>Wager : {{ betItem.wager_euros }}</li>
        </ul>
      </ng-container>
    </ng-container>
  </mat-drawer>
  <mat-drawer-content class="test">
      <mat-selection-list>
        <div mat-subheader class="item-title">All matches</div>
        <mat-list-option class="list-item" *ngFor="let matchItem of matchListFiller">
          <div matListItemTitle>{{ matchItem.status }}</div>
          <div matListItemLine>{{ matchItem.startDate | date}}</div>
          <div matListItemLine>{{ matchItem.teamA.name | uppercase }} VS {{ matchItem.teamB.name | uppercase }}</div>
        </mat-list-option>
        <mat-divider></mat-divider>
      </mat-selection-list>
  </mat-drawer-content>
</mat-drawer-container>


