<div class="grid-column-wrapper">

  <section [ngClass]="{
    'left-top-5': breakpoint === 5,
    'left-top-6': breakpoint === 6, 
    'left-top-8': breakpoint === 8}">
    <article class="list">
      <h2>Betslip</h2>
      <mat-drawer-container>
        <mat-drawer mode="side" [(opened)]="isOpened" position="end">
          
          <ng-container *ngFor="let betItem of betList">
            <ng-container *ngIf="betItem.status == 'BET_OPENED' && !isEmpty">
              <ul class="test">
                <li>id: {{ betItem.id }}</li>
                <li>Team A : {{ betItem.match_id }}</li>
                <li>Team B : {{ betItem.team_id }}</li>
                <li>Odds : {{ betItem.final_odds }}</li>
                <li>Wager : {{ betItem.wager_euros }}</li>
              </ul>
            </ng-container>
          </ng-container>
        </mat-drawer>
        <mat-drawer-content class="test">
            <mat-selection-list>
              <div mat-subheader class="item-title">All matches</div>
              <mat-list-option class="list-item" *ngFor="let matchItem of matchListFiller">
                <div matListItemTitle>{{ matchItem.status }}</div>
                <div matListItemLine>{{ matchItem.startDate | date}}</div>
                <div matListItemLine>{{ matchItem.teamA.name | uppercase }} VS {{ matchItem.teamB.name | uppercase }}</div>
              </mat-list-option>
              <mat-divider></mat-divider>
            </mat-selection-list>
        </mat-drawer-content>
      </mat-drawer-container>
    </article>
  </section>
  <aside class="right-bottom">
    <!-- place on the right for betslip and/or floating buttons -->
    <div [ngClass]="{'fab-container bottom' : fabPosition === 'bottom',
                'fab-container aside-bottom' : fabPosition === 'aside-bottom',
                'fab-container aside' : fabPosition === 'aside',
                'fab-container hide' : fabPosition === 'hide' }">
      <sb-cta-fab class="fab" *ngIf="!isLogged" text="Join or Log in" routerLink="/login"></sb-cta-fab>
      <sb-cta-fab class="fab" text="Place a bet now" routerLink="/bets"></sb-cta-fab>
    </div>
  </aside>

  <div class="grid-column-wrapper">
    
  </div>
</div>



