<div class="grid-column-wrapper">

  <section [ngClass]="{
    'left-top-5': breakpoint === 5,
    'left-top-6': breakpoint === 6, 
    'left-top-8': breakpoint === 8}">
    <article class="list">
      <h2>All bets</h2>
      <ng-container>
        <div class="list-item" *ngFor="let matchItem of matchList$ | async as matchList" (click)="onItemClicked(matchItem.id)">
          <sb-match-item [matchItem]="matchItem" [breakpoint]="breakpoint" [isLogged]="isLogged" [displayCheckbox]="true" [checkboxChecked]="checked"></sb-match-item>          
        </div>
      </ng-container>
    </article>
  </section>
  <aside class="right-bottom">
    <div class="betslip-container">
    
      <!-- space on the right/bottom of viewport for betslip and/or floating buttons -->
      <sb-betslip [betList]="betList"></sb-betslip>
      <div [ngClass]="{'fab-container bottom' : fabPosition === 'bottom',
                'fab-container aside-bottom' : fabPosition === 'aside-bottom',
                'fab-container aside' : fabPosition === 'aside',
                'fab-container hide' : fabPosition === 'hide' }">


        <sb-cta-fab class="fab" *ngIf="!isLogged" text="Join or Log in" routerLink="/login"></sb-cta-fab>
        <sb-cta-fab class="fab" text="Place a bet now" routerLink="/bets"></sb-cta-fab>
      </div>
    </div>
  </aside>

  <div class="grid-column-wrapper">
    
  </div>
</div>



